#wrapper {
	height: 1177px;
	width: 1000px;
	border: 1px solid red;
	margin: 0 auto;
}

header {
	height: 92px;
	border-bottom: 3px solid #e7e7e7;
	background: #f3f3f3;
	padding:28px 0 0 68px;
}

header h1 {
	font: 40px Verdana, sans-serif;
	color: #4b6b7f;
	margin: 0;
	float: left;
	text-transform: uppercase;
}

header h1 span {
	background: -webkit-gradient(linear, left bottom,left top,color-stop(0.2, #628ba4),color-stop(1, #8eb6cc));, black;
	-webkit-background-clip: text;
	color: transparent;
}

header .icons {
	float: right;
	margin: 20px 74px 0 0;
}

header .icons a{
	margin-left: 5px;
}

#top_menu_bradient_bg {
	height: 297px;
	background:-webkit-linear-gradient(top, rgba(72, 132, 168, 0.5) 26%,
	rgba(189, 189, 189, 1) 58%, rgba(255, 255, 255, 1)),
	-webkit-radial-gradient(50% 50%, circle farthest-side, rgba(245, 245, 245, 1),
 	rgba(72, 132, 168, 1));

	width: 100%;

}

#cikada {
	opacity: 0.4;
	height: 297px;
	background: url(../img/setka.png);



/*border: 1px solid green;*/
/*	background-image: linear-gradient(90deg, rgba(255,255,255,0.5) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.07) 50%);
	background-size: 5px, 6px, 7px;*/
}

/*linear-gradient(90deg, transparent 50%, rgba(255,255,255,.07) 50%)*/

#gradient_border {
	height: 17px;
	background: url(../img/gradient_border.jpg) repeat-x;
}